* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    /*background: url("../img/hojas.jpg");*/
    background-attachment: fixed;
}

#global {
    width: 75%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}

.clear-fix {
    clear: both;
}

/* Logo */
#logo {
    width: 670px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    /*background: #235e3d;*/
    font-family: Verdana, Arial;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 75px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}

/*Menu */
#menu {
    font-family: Helvetica, Arial, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}

#menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu ul li:hover {
    /*background: #235e3d;*/
    color: beige;
}

#menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

/* Slider*/
.bx-wrapper,
.bx-viewport {
    height: 250px !important;
}

/* Posts*/
#posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}

.post {
    width: 100%;
    padding: 7px;
}

.post h2 {
    font-size: 30px;
    color: #333;
}

.post .date {
    display: block;
    margin-top: 5px;
    color: gray;
}

.post p {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 22px;
    text-align: justify;
}

.button-more {
    width: 70px;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    /*background: #235e3d;*/
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.button-more:hover {
    /*background: #20a058;*/
    color: white;
}

/* About me*/
#accordion {
    margin-top:30px;
    width: 60%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}
#h1-about-me{
padding-top:20px;
}
/* clock */
.clock {
    height: 100px;
    width: 60%;
    float: left;
    line-height: 100px;
    margin: 60px auto 0;
    font-size: xx-large;
    padding: 0 50px;
    background: #222;
    color: #eee;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #222;
    text-shadow: 0 0 3px #fff;
}

/* Sidebar*/
#sidebar {
    width: 28%;
    float: right;
    font-family: Helvetica, Arial;
}

#sidebar h4 {
    background: url("../img/lines.png") repeat-x;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
}

#sidebar h4 span {
    background: white;
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"] {
    /*background: #235e3d;*/
    color: white;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

form input[type="submit"]:hover {
    /*background: #20a058;*/
    color: white;
}

footer {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.7);
    margin: 0px auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;
}

/* Change themes*/
.selector-theme {
    position: fixed;
    width: 50px;
    height: 100px;
    top: 50%;
    background: rgba(51, 51, 51, 0.5);
    /*border: 1px solid red;*/
}

#to-green,
#to-red,
#to-blue {
    display: block;
    margin: 5px auto;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    cursor: pointer;
}

#to-green {
    background: #235e3d;
}

#to-blue {
    background: #1f87c4;
}

#to-red {
    background: crimson;
}

/* Scroll-up  */
.scroll-up{
    display: block;
    float: right;
    width: 56px;
    height: auto;
    padding: 7px;
    margin-right: 18px;
    margin-top: 8px;
    border: 1px solid crimson;
    border-radius: 8px;
    background: crimson;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}