body {
    background: url("../img/rojo.jpg");
}

/* Logo */
#logo {
    background: crimson;
}

#menu ul li:hover {
    background: crimson;
}

.button-more {
    background: crimson;
}

.button-more:hover {
    background: #e92f4e;
}

form input[type="submit"] {
    background: crimson;
}

form input[type="submit"]:hover {
    background: #e92f4e;
}

.selector-theme {
    border: 1px solid crimson;
}
