body {
    background: url("../img/hojas.jpg");
}

/* Logo */
#logo {
    background: #235e3d;
}

#menu ul li:hover {
    background: #235e3d;
}

.button-more {
    background: #235e3d;
}

.button-more:hover {
    background: #20a058;
}

form input[type="submit"] {
    background: #235e3d;
}

form input[type="submit"]:hover {
    background: #20a058;
}

.selector-theme {
    border: 1px solid #235e3d;
}
