body {
    background: url("../img/cielo.jpg");
}

/* Logo */
#logo {
    background: #1f87c4;
}

#menu ul li:hover {
    background: #1f87c4;
}

.button-more {
    background: #1f87c4;
}

.button-more:hover {
    background: #42b0e4f5;
}

form input[type="submit"] {
    background: #1f87c4;
}

form input[type="submit"]:hover {
    background: #42b0e4f5;
}

.selector-theme {
    border: 1px solid #1f87c4;
}
