* {
	padding: 0px;
	margin: 0px;
}

h1 {
	text-align: center;
}
.box {
	width: 350px;
	height: 350px;
	margin: 20px;
	margin: 30px auto;
}

.dashed {
	border: 3px dashed black;
}

input:invalid {
	border: 2px dashed red;
}

input:invalid:required {
	background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
	border: 2px solid black;
}

span.error-nombre,
span.error-apellidos,
span.error-edad {
	background: red;
	color: white;
}
